<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcom to my Blog</h1>
    <a
      href="/contact"
      style="
        color: blue;
        font-size: 20px;
        text-decoration: none;
        display: block;
      "
      >contact</a
    >

    <a
      href="/faq"
      style="color: red; font-size: 20px; text-decoration: none; display: block"
      >faq</a
    >
  </body>
</html>
