<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="text-lg">KSK, Blog</h1>
      <div class=>
        <a href="/">HOME</a>
        <a href="/contact">CONTACT</a>
        <a href="/faq">FAQ</a>
      </div>
    </header>
    {{template "page"}}

    <footer>&copy; 2022 Go Web Development Kyungsub Kim</footer>
  </body>
</html>
