<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../files/globalStyle.css" />
    <script
      src="https://kit.fontawesome.com/231f35540a.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <header
      class="flex p-1 bg-gradient-to-r h-14 items-center text-white from-indigo-500 via-purple-500 to-pink-500"
    >
      <h1 class="text-2xl mr-3 hover:cursor-pointer font-serif uppercase">
        Blog-o
      </h1>
      <div class="flex-grow space-x-2 flex">
        <a
          class="flex flex-col items-center hover:scale-110 ease-in-out hover:cursor-pointer"
          href="/"
        >
          <i class="fa-solid fa-house"></i><span class="text-xs">Home</span>
        </a>
        <a
          class="flex flex-col items-center hover:cursor-pointer hover:scale-110 ease-in-out"
          href="/contact"
          ><i class="fa-solid fa-address-card"></i
          ><span class="text-xs">Contact</span></a
        >
        <a
          class="flex flex-col items-center hover:cursor-pointer hover:scale-110 ease-in-out"
          href="/faq"
        >
          <i class="fa-solid fa-question"></i><span class="text-xs">FAQ</span>
        </a>
      </div>

      <div class="hover:underline hover:cursor-pointer">Login</div>
      <div class="px-2 mx-2 hover:cursor-pointer">
        <a href="/signup" class="flex flex-col items-center">
          <i class="fa-solid text-xl fa-right-to-bracket"></i
          ><span class="text-xs">Sign-up</span>
        </a>
      </div>
    </header>
    <div class="px-10 pt-10 min-h-[90vh] mx-auto max-w-max">
      {{template "page" .}}
    </div>
    <footer
      class="text-white py-2 px-5 text-sm bg-gradient-to-r h-20 from-indigo-500 via-purple-500 to-pink-500"
    >
      &copy; 2022 Go Web Development Kyungsub Kim
    </footer>
  </body>
</html>
